<h4 class="page-body-section-header"><span class="icon icon-th-list"></span>Список документов</h4>
<div class="page-body-section-content" ng-show="!page.documents.length && page.currentDirectory.id">
    <p class="notice">
        <span class="icon icon-info"></span>
        <span class="text">Папка &quot;<strong><% page.currentDirectory.name %></strong>&quot; пуста. Создайте новый документ</span>
    </p>
</div>
<div class="page-body-section-content">

    <table ng-show="page.documents.length" id="documents-list">
        <thead>
            <tr>
                <th>Имя документа</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
            {# items-per-page should be modifiable #}
            <tr dir-paginate="document in page.documents | itemsPerPage: 5" total-items="page.documentsCount" current-page="page.currentPage">
                <td>
                    <div class="document-title"><% document.title %></div>
                    <div class="document-aux-props clearfix">
                        <div class="pull-left ts">
                            <span class="icon icon-calendar"></span><% document.document_date | date:'dd-MM-yyyy' %>
                        </div>
                        <div class="pull-right actions">
                            <span class="action">
                                <a target="_blank" href="{{ baseurl }}/uploads/documents/<% document.filename %>" download="{{ baseurl }}/uploads/documents/<% document.filename %>">
                                    <span class="icon icon-download"></span>
                                </a>
                            </span>
                            <span class="divider">&bull;</span>
                            <span class="action">
                                <a href="" ng-click="page.deleteDocument(document)">
                                    <span class="icon icon-cancel-1"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                </td>
                <td>
                    <div><% document.comment %></div>
                    <div class="tags document-aux-props">
                        <span ng-repeat="tag in document.tags" class="tag">
                            <span class="icon icon-tag-empty"></span><a class="tag-label" ng-bind="tag.label"></a>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    {# NOTE: write app constants from PHP to js somewhere, set them as ng-app constants #}    
    {% set ngTemplatesUrl = '/assets/js/app/documents/templates' %}
    {% set pagerTemplateUrl = baseurl ~ ngTemplatesUrl ~ '/directives/pagination.html' %}

    <dir-pagination-controls on-page-change="page.pageChanged(newPageNumber)" template-url="{{ pagerTemplateUrl }}"></dir-pagination-controls>

</div>