{% extends 'shared/base.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="page">
        <div class="page-heading"><span class="icon icon-home"></span>Главная страница</div>
        <div class="page-subheading">
            Добро пожаловать
        </div>
        <div class="page-body">
            
        </div>
    </div>
    
{% endblock %}