<h4 class="page-body-section-header"><span class="icon icon-doc-new"></span>Новый документ</h4>
<div class="page-body-section-content" ng-show="page.currentDirectory.id">
    
    <form class="form" name="page.newDocumentForm" ng-submit="page.newDocumentForm.$valid && page.addNewDocument()" novalidate>
        
        <div class="input-wrapper">
            <label class="input-label" for="new_document_title">Имя документа</label>
            <input required class="input" id="new_document_title" ng-model="page.newDocumentMeta.title" type="text"  placeholder="Введите имя документа" name="title" />            
            <div ng-messages="page.newDocumentForm.title.$error" role="alert">
                <div ng-message="required" class="notice small">Укажите имя документа</div>
            </div>
        </div>

        <div class="input-wrapper">
            <label class="input-label" for="new_document_date">Дата</label>
            <div class="clearfix">
                <datepicker date-format="yyyy-MM-dd">
                    <input required id="new_document_date" name="date" class="input datepicker-input" ng-model="page.newDocumentMeta.date" type="text" placeholder="Введите дату документа" />
                </datepicker>
            </div>
            <div ng-messages="page.newDocumentForm.date.$error" role="alert">
                <div ng-message="required" class="notice small">Укажите дату документа</div>
            </div>
        </div>

        <div class="input-wrapper">
            <label class="input-label" for="new_document_comment">Описание</label>
            <textarea 
                required 
                name="comment" 
                class="textarea"  
                id="new_document_comment"  
                ng-model="page.newDocumentMeta.comment"  
                rows="3" 
                cols="1" 
                placeholder="Добавьте описание документа">
            </textarea>
            <div ng-messages="page.newDocumentForm.comment.$error" role="alert">
                <div ng-message="required" class="notice small">Добавьте описание документа</div>
            </div>
        </div>

        <div class="input-wrapper">
            <label class="input-label clearfix">Метки</label>
            <tags-input 
                name="tags" 
                ng-model="page.newDocumentMeta.tags"
                min-tags="1" 
                max-tags="5" 
                add-on-blur="false" 
                allow-leftover-text="false" 
                display-property="label" 
                debounce-delay="500" 
                placeholder="Добавить метку">
                <auto-complete source="page.getTags($query)"></auto-complete>
            </tags-input>
            <div ng-messages="page.newDocumentForm.tags.$error" role="alert">
                <div ng-message="minTags" class="notice small">Укажите минимум 1 метку</div>
                <div ng-message="maxTags" class="notice small">Разрешено не больше 5 меток</div>
            </div>
        </div>

        <div class="input-wrapper">
            <label class="input-label clearfix" for="new_document_file">Файл<span class="status pull-right" ng-bind="page.file.name"></span></label>
            {# example:  <span class="bg-icon" data-icon="&#xe80b;"></span> #}
            <button required name="file" class="expand" type="button" id="new_document_file" ngf-select ng-model="page.file">Прикрепить файл</button>
            <div ng-messages="page.newDocumentForm.file.$error" role="alert">
                <div ng-message="required" class="notice small">Прикрепите файл</div>
            </div>
        </div>

        <hr ng-show="!page.newDocumentForm.$valid">

        <button class="submit expand primary" ng-show="page.newDocumentForm.$valid">
            <span>Создать документ</span>
        </button>

    </form>

</div>